* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  background-color: #111111;
  color: white;
}
.container {
  display: flex;
  width: 100%;
  height: 100vh;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  margin: auto;
}
.header {
  text-align: center;
  /* display: flex; */
}
.header h1 {
  padding: 13px 0;
}
form {
  outline: 1px solid white;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  padding: 10px 25px;
  justify-content: center;
  border-radius: 14px;
  /* position: relative; */
}
form input {
  width: 95%;
  margin: 15px 0;
  border-radius: 10px;
  height: 30px;
  background-color: transparent;
  outline: none;
  border: 1px solid white;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
  color: white;
  padding: 5px 7px;
  transition: all 0.55s;
}
#user {
  margin-top: 8px;
}
.hr1 {
  width: 300px;
  margin: 0 auto;
}
.hr2 {
  width: 200px;
  margin: 0 auto 10px auto;
}
form#m-biasa {
  display: flex;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
#m-slash {
  display: none;
}
form label {
  font-size: 14px;
}
form label#pass {
  font-weight: bold;
}
button {
  width: 100%;
  margin-top: 10px;
  height: 50px;
  border-radius: 18px;
  border: none;
  outline: none;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.2px;
  background: white;
  transition: all 0.5s;
}
button:hover {
  box-shadow: 0 0 8px white;
  background: transparent;
  color: white;
  cursor: pointer;
}
@media (max-width: 767px) {
  .header h1 {
    padding: 13px 0;
  }
  form {
    margin: 0 auto;
    outline: 1px solid white;
    width: 300px;
    height: 410px;
    display: flex;
    flex-direction: column;
    padding: 10px 25px;
    justify-content: center;
    border-radius: 14px;
    /* position: relative; */
  }
  form input {
    width: 95%;
    margin: 15px 0;
    border-radius: 10px;
    height: 40px;
    background-color: transparent;
    outline: none;
    font-size: 16px;
    border: 1px solid white;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
    color: white;
    padding: 5px 7px;
    transition: all 0.55s;
  }
  button {
    width: 100%;
    margin-top: 20px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 18px;
    border: none;
    outline: none;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.2px;
    box-shadow: 0 0 8px white;
    background: transparent;
    color: white;
    transition: all 0.5s;
  }
  button:hover {
    cursor: pointer;
    background: white;
    color: black;
  }
}
