* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}
section {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #111111;
  color: #fefefe;
  overflow-x: hidden;
}

.card {
  width: 50%;
  height: 400px;
  outline: 1px solid #222222;
  border-radius: 10px;
  background: #222222;
  padding: 10px 10px;
  margin: 0 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: scroll;
}
.card::-webkit-scrollbar {
  display: none;
}

#text1,
#text2 {
  font-weight: 600;
  font-size: 26px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  text-shadow: 0 0 2px white;
}
.textisi {
  padding: 20px 50px;
  letter-spacing: 0.3px;
  opacity: 95%;
}
.logo i {
  font-size: 30px;
  color: #e8f0fe;
  margin: 15px 8px;
  display: block;
  outline: none;
  border: none;
  /* text-shadow: 0 0 10px rgba(255, 255, 255, 0.902); */
}
.button-music {
  width: 100%;
  height: 100vh;
}

#moreText {
  display: none;
}

button#textMore {
  width: 100px;
  height: 40px;
  background-color: deepskyblue;
  border-radius: 8px;
  font-weight: 500;
  outline: white;
  border: none;
  font-size: 15px;
  color: white;
  text-align: center;
  box-shadow: 0 0 8px #555555;
  margin-left: 50px;
}
.container-music {
  display: flex;
  flex-direction: column;
}
.judul-music {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  /* text-decoration: underline; */
  justify-content: center;
  align-items: center;
  font-size: 25px;
  text-align: center;
}
.hr3 {
  width: 300px;
  margin: 0 auto;
}
.hr4 {
  width: 200px;
  margin: 0 auto 20px auto;
}
.isi-music {
  display: flex;
  outline: none;
  border: 2px solid white;
  padding: 10px 10px;
  border-radius: 12px;
  margin: 10px 20px;
  overflow-x: scroll;
  box-shadow: 0 0 10px lightyellow;
}
.isi-music::-webkit-scrollbar {
  display: none;
}
.isi-music iframe {
  margin-left: 8px;
  /* box-shadow: 0 0 1px lightyellow; */
}
form {
  outline: 1px solid white;
  width: 380px;
  height: 380px;
  display: flex;
  flex-direction: column;
  padding: 10px 25px;
  justify-content: center;
  border-radius: 14px;
  /* position: relative; */
}
form input {
  width: 95%;
  margin: 10px 0;
  border-radius: 10px;
  height: 30px;
  background-color: transparent;
  outline: none;
  border: 1px solid white;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
  color: white;
  padding: 5px 7px;
  transition: all 0.55s;
}
form textarea {
  width: auto;
  margin: 5px 0;
  border-radius: 10px;
  background-color: transparent;
  outline: none;
  border: 1px solid white;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
  color: white;
  padding: 5px 7px;
  transition: all 0.55s;
}
#user {
  margin-top: 8px;
}
.hr1 {
  width: 300px;
  margin: 0 auto;
}
.hr2 {
  width: 200px;
  margin: 0 auto 10px auto;
}
form label {
  font-size: 14px;
  margin: 10px auto;
}
form label#pass {
  font-weight: bold;
}
button {
  width: 100%;
  margin-top: 20px;
  height: 50px;
  border-radius: 18px;
  border: none;
  outline: none;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.2px;
  background: white;
  transition: all 0.5s;
}
button:hover {
  box-shadow: 0 0 8px white;
  background: transparent;
  color: white;
  cursor: pointer;
}
.container-form {
  display: flex;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.judul-form {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  /* text-decoration: underline; */
  justify-content: center;
  align-items: center;
  font-size: 25px;
  text-align: center;
}
.container-img {
  overflow-x: scroll;
  width: 100%;
  height: 100vh;
}
.container-img::-webkit-scrollbar {
  display: none;
}
.container-img h2 {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  font-size: 20px;
}

.judul-img {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  /* text-decoration: underline; */
  justify-content: center;
  outline: none;
  width: 200px;
  /*  */
  align-items: center;
  overflow: hidden;
  font-size: 25px;
  text-align: center;
}

hr.hr4 {
  width: 100px;
}
.img-img {
  display: flex;
  outline: none;
  border: 2px solid white;
  padding: 10px 10px;
  border-radius: 12px;
  margin: 10px 20px;
  overflow-x: scroll;
  box-shadow: 0 0 10px lightyellow;
}
.img-img::-webkit-scrollbar {
  display: none;
}
.img-img img {
  margin-left: 5px;
  border-radius: 6px;
}
.judul-music,
.judul-form,
.judul-img {
  text-shadow: 0 0 3px lightyellow;
  letter-spacing: 2px;
  /* outline: 1px solid black; */
}
.container-form {
  overflow: hidden;
}
footer {
  background-color: #111111;
  color: white;
  text-shadow: 0 0 5px white;
  overflow: hidden;
  padding: 10px 0;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 15px;
  letter-spacing: 1px;
  width: 100%;
}
@media (max-width: 630px) {
  .card {
    width: 90%;
    height: 400px;
    outline: 1px solid #222222;
    border-radius: 10px;
    background: #222222;
    padding: 5px 5px;
    margin: 0 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .container-form {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #text1,
  #text2 {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    padding-top: 20px;
  }
  .textisi {
    padding: 15px 15px;
    /* letter-spacing: 0.3px; */
    line-height: 20px;
    text-align: left;
    font-size: 16px;
  }
  .logo i {
    font-size: 30px;
    color: #f8eb00;
    margin: 15px 8px;
    display: none;
    outline: none;
    border: none;
    /* text-shadow: 0 0 10px rgba(255, 255, 255, 0.902); */
  }
  button#textMore {
    width: 100px;
    height: 40px;
    background-color: deepskyblue;
    border-radius: 8px;
    font-weight: 500;
    outline: white;
    border: none;
    font-size: 15px;
    color: white;
    text-align: center;
    box-shadow: 0 0 8px #555555;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    align-items: center;
  }
  form {
    margin: 0 15px;
    outline: 1px solid white;
    width: 300px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 10px 16px;
    justify-content: center;
    border-radius: 14px;
    /* position: relative; */
  }
  form label {
    margin: 10px auto;
  }
  .judul-img {
    display: flex;
  }
  .judul-img i {
    font-size: 30px;
  }
  form textarea {
    width: 90%;
    align-items: center;
    justify-self: center;
    display: flex;
    margin: 10px auto;
    border-radius: 10px;
    background-color: transparent;
    outline: none;
    border: 1px solid white;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
    color: white;
    padding: 5px 7px;
    transition: all 0.55s;
  }
  button {
    width: 100%;
    margin-top: 20px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 18px;
    border: none;
    outline: none;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.2px;
    box-shadow: 0 0 8px white;
    background: transparent;
    color: white;
    transition: all 0.5s;
  }
  button:hover {
    cursor: pointer;
    background: white;
    color: black;
  }
  footer {
    width: 100%;
    /* padding: 10px 4px; */
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    font-size: 12px;
    overflow-x: hidden;
    height: 30px;
  }
}
